/*Color primario*/
$bgColor: #DC3545;
/*Tipografía*/
$font-size: 1.8rem;
$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', serif;
/*Breackpoints*/
$mediaTablet-420: 420px;
$mediaTablet-640:640px;
$mediaTablet-768: 768px;
$mediaDesktop-820:820px;
$mediaDesktop-1500:1500px;